body {
  background-color: #f2f2f2;
}

.container {
  border: 1px solid red;
  height: 40vh;
}

.box {
  text-align: center;
  padding: 2rem;
}

.box1 {
  background-color: blue;
}

.box2 {
  background-color: pink;
}

.box3 {
  background-color: green;
  height: 5rem;
}

.box4 {
  background-color: yellow;
}

.box5 {
  background-color: indigo;
}
