/* The float property can be used to wrap text around an image, or to create multi-column layouts.  */

* {
  padding: 0;
  margin: 0;
}

div {
  width: 50%;
  height: 300px;
  float: right;
}

.one {
  background-color: red;
}

.two {
  background-color: green;
}

.three {
  background-color: blue;
}

h1 {
  clear: both;
}
