h1 {
  color: rgb(255, 0, 0);
}

h2 {
  color: rgb(0, 255, 0);
  background-color: #0000ff;
}

/*   hex values #RRGGBB 
      HAVING VALUE FROM 123456789
      
      A(10) B(11) C(12) D(13) E(14) F(15)
      
      
      #FF0000 - RED
      #00FF00 - GREEN
      #0000FF - BLUE
      
*/
h3 {
  color: #ff0000;
  background-color: #00ff00;
}

/* rgba include the opacitys */
h4 {
  color: rgba(255, 0, 0, 0.2);
}
