* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div {
  min-height: 100vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*there is a background image attachment to the screen which causes it to not move and stay in one position*/
.big-image {
  background: url("./images/LargeImage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.small-image {
  background: url("./images/smallImage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.folder-image {
  background: url("./images/LargeImage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
