* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  border: 5px solid black;
}
.cell {
  padding: 2rem;
  color: #dedede;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  border: 1px solid red;
}
