/* position: sticky - toogle between relative and fixed once the positon is met in the viewport  - then it sticks" ( */

.nav {
  background-color: olive;
  position: fixed;
  top: 0;
  left: 0;
}

div {
  border: 3px solid red;
  color: white;
  background-color: yellow;
}

.one {
  background-color: blue;
  color: white;
}

.two {
  background-color: green;
  color: white;
}

.special {
  background-color: bisque;
  font-size: 20px;
  color: black;
}

.empty {
  background-color: blueviolet;
  height: 1000px;
  width: 400px;
}

.nasv {
  background-color: olive;
  position: sticky;
  top: 20px;
}
