/* this display the image on the screen */

div {
  height: 500px;
  color: white;
}

.big-image {
  background: url("./big.jpeg");
}

.small-image {
  background: url("./small.jpeg");
}

.folder-image {
  background: url("./images/folder-img.jpeg");
}
